<!-- 

    Program: styles.css
    Author: Darrian Robinson
    Date created:  02/23/2026
    Date Modified: 02/26/2026 
    Version 2.0
    Description: MIS 3371 Homework 1-css code to style html
-->

/* Place your CSS styles in this file */

body{
    background-color: #E6F2FF; /*Light blue*/
    color:  #003366;           /*Dark navy*/
    font-family: Verdana;
    }
#header{
    background-color: #BBD4EE; /*Slightly darker light blue*/
    padding:40px;
    font-size: large;
}
#logo{
    max-width: 80px;
    height: auto;
    display: block;
}
#title{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    disply: block;
}
#footer{
    background-color: #BBD4EE; /*Slightly darker light blue*/                      
    width: 100%;
    padding: 10px 0;

}
#footer td {
    width: 50%;
    vertical-align: top;
}
.left-footer {
    text-align: left;
    font-size: 18px;
    padding: 20px 40px;
    border-radius: 10px;
}
.submit-row{
    text-align: center;
}
#contactBtn {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
}
table.form{
    margin-left: auto;
    margin-right: auto;
}
.thankyou-body {
    background-color: #E6F2FF;
    color: #003366;
    text-align: center;
    padding-top: 100px;
}
.thankyou-box {
    background: white;
    width: 50%;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}


